body {
    font-family: sans-serif;
}
a {
    border-bottom: 5px solid;
}

header nav {
    padding: 20px;
    text-align: center;
    
}

main h1 {
    text-align: center;
} 
.aaa {
    margin-left: 50px; 
    margin-right: 50px;
}
.e {
   border-left: 10px dotted;
    margin-right: 50px;
}
main p {
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
}
footer p {
    background-color: bisque;

    
}
footer {
    background-color: black;
padding: 5px 10px 5px 10px;
    
}
